modeling/data/raw/*
modeling/data/interim/*
modeling/data/processed/*

!modeling/data/raw/.gitkeep
!modeling/data/interim/.gitkeep
!modeling/data/processed/.gitkeep

modeling/experiments/runs/*
!modeling/experiments/runs/.gitkeep

.DS_Store
.idea/
__pycache__/
*.py[cod]

.venv/